:vars {
  --foreground: #e1e2e9;
  --background: #111318;
  --cursor: #e1e2e9;
  --primary: #a7c8ff;
  --on-primary: #003060;
  --secondary: #b3c7ec;
  --on-secondary: #1d314e;
  --tertiary: #f2afff;
  --on-tertiary: #501162;
  --surface: #111318;
  --surface-bright: #37393f;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8c919c;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #e8ffea;
  --green-dim: #b5ffbb;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #b3c5ff;
  --blue-dim: #809eff;
  --magenta: #eab2ff;
  --magenta-dim: #dc7fff;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
}