:vars {
  --foreground: #e0e4d7;
  --background: #11150d;
  --cursor: #e0e4d7;
  --primary: #9be068;
  --on-primary: #183800;
  --secondary: #b2d097;
  --on-secondary: #1f360d;
  --tertiary: #44e4c5;
  --on-tertiary: #00382e;
  --surface: #11150d;
  --surface-bright: #363b31;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8b9381;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #000000;
  --green: #eaffda;
  --green-dim: #000000;
  --yellow: #ffffff;
  --yellow-dim: #000000;
  --blue: #afc6ff;
  --blue-dim: #000000;
  --magenta: #ffafd6;
  --magenta-dim: #000000;
  --cyan: #ffffff;
  --cyan-dim: #000000;
  --white: #ffffff;
}
