:vars {
  --foreground: #e6e1e8;
  --background: #141318;
  --cursor: #e6e1e8;
  --primary: #ccbdff;
  --on-primary: #342171;
  --secondary: #cbc1e8;
  --on-secondary: #332c4a;
  --tertiary: #ffaedd;
  --on-tertiary: #581345;
  --surface: #141318;
  --surface-bright: #3a383e;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #938f9c;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #e8ffea;
  --green-dim: #b5ffbb;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #c5c0ff;
  --blue-dim: #968dff;
  --magenta: #eab2ff;
  --magenta-dim: #dc7fff;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
}