:vars {
  --foreground: #dfe3e7;
  --background: #0f1417;
  --cursor: #dfe3e7;
  --primary: #7dd0ff;
  --on-primary: #00344a;
  --secondary: #a9cbe2;
  --on-secondary: #0f3446;
  --tertiary: #eab2ff;
  --on-tertiary: #4a1762;
  --surface: #0f1417;
  --surface-bright: #353a3d;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #889299;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #e8ffea;
  --green-dim: #000000;
  --yellow: #ffffff;
  --yellow-dim: #000000;
  --blue: #afc6ff;
  --blue-dim: #000000;
  --magenta: #eab2ff;
  --magenta-dim: #000000;
  --cyan: #ffffff;
  --cyan-dim: #000000;
  --white: #ffffff;
}
