:vars {
  --foreground: #e4e2e2;
  --background: #131314;
  --cursor: #e4e2e2;
  --primary: #b9c9d0;
  --on-primary: #243338;
  --secondary: #c2c7ca;
  --on-secondary: #2c3134;
  --tertiary: #cec3d3;
  --on-tertiary: #352e3b;
  --surface: #131314;
  --surface-bright: #393939;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8d9194;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #ff7f8b;
  --green: #e8ffea;
  --green-dim: #b5ffbb;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #eab2ff;
  --magenta-dim: #dc7fff;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
}