:vars {
  --foreground: #e5e2e1;
  --background: #131313;
  --cursor: #e5e2e1;
  --primary: #c0c9c2;
  --on-primary: #2a322e;
  --secondary: #c5c7c4;
  --on-secondary: #2e312f;
  --tertiary: #c1c7cd;
  --on-tertiary: #2b3136;
  --surface: #131313;
  --surface-bright: #393938;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8d928e;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #e6ffe7;
  --green-dim: #b3ffb6;
  --yellow: #ffffff;
  --yellow-dim: #e6e6e6;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #eab2ff;
  --magenta-dim: #dc7fff;
  --cyan: #ffffff;
  --cyan-dim: #e6e6e6;
  --white: #ffffff;
}