:vars {
  --foreground: #e1e2ea;
  --background: #111319;
  --cursor: #e1e2ea;
  --primary: #aac7ff;
  --on-primary: #002f65;
  --secondary: #b2c7f2;
  --on-secondary: #1b3053;
  --tertiary: #f4aeff;
  --on-tertiary: #550369;
  --surface: #111319;
  --surface-bright: #373940;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8c919e;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #e8ffea;
  --green-dim: #000000;
  --yellow: #ffffff;
  --yellow-dim: #000000;
  --blue: #b5c4ff;
  --blue-dim: #000000;
  --magenta: #eab2ff;
  --magenta-dim: #000000;
  --cyan: #ffffff;
  --cyan-dim: #000000;
  --white: #ffffff;
}
