
* {
  font-family: JetBrainsMono Nerd Font;
  padding: 0;
  margin: 0;
  font-weight: bold;
	min-height: 0;	
     /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 99.5%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

#waybar {
  color: #a5c9f7;
  background-color: #121316;
  border-radius: 5px;
  border: 2px solid #a5c9f7;
}
#workspaces button {
  color: #026bbd;
  padding-left: 0.4em;
}

#workspaces button.empty {
  color:#a5c9f7;
}

#memory,
#custom-platform-profile {
  padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#pulseaudio {
  padding-right: 0.5em;
}
#tray {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
  background-color: #025da4;
  border-radius: 10px;
  border: 2px solid #a5c9f7;
}

#window {
  padding-left: 0.5em;
}
#custom-swaync{
  padding-right: 0.5em;
}
#custom-arch-logo{
  padding-left: 0.6em;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: #025da4;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #a5c9f7;
}