
* {
  font-family: JetBrainsMono Nerd Font;
  padding: 0;
  margin: 0;
  font-weight: bold;
	min-height: 0;	
     /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 99.5%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

#waybar {
  color: {{colors.primary.default.hex}};
  background-color: {{colors.background.default.hex}};
  border-radius: 5px;
  border: 2px solid {{colors.primary.default.hex}};
}
.modules-right{
  margin-right: 0.3em;
}
#workspaces {  font-size: 0.4em;
  padding: 1px 4px;
  margin: 7px 0;
}
#workspaces button {  
  background: {{colors.on_primary.default.hex | lighten: 20.0}};
  padding: 0 2px;
  margin: 0 2px;
  border-radius: 99px;
  min-width:4px;
  transition: all 200ms ease-in-out;
}
#workspaces button:hover {
  min-width: 10px;
}

#workspaces button.urgent{
  background: {{colors.error.default.hex | lighten: -10.0}};
}

#workspaces button.active{
  background: {{colors.on_primary.default.hex | lighten: 30.0}};
  min-width: 30px;
  transition: all 200ms ease-in-out;
}
#workspaces button.empty {
  background:{{colors.primary.default.rgba | set_alpha: 0.8}};
}
#workspaces button.empty.active {
  background:{{colors.primary.default.hex}};
}

#memory,
#custom-platform-profile {
  padding-left: 1em
}


#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth {
  padding-right: 0.5em;
}
#pulseaudio {
  padding-right: 0.4em;
}
#wireplumber {
  padding-right: 0.25em;
}
#tray {
  margin: 0.21em 0;
  padding-left: 1px;
  padding-right: 2px;
  background-color: {{colors.on_primary.default.rgba | set_alpha: 0.7 }};
  border-radius: 5px;
  border-left: 2px solid {{colors.primary.default.hex}};
}
#custom-swaync {
  margin-right: 0.3em;
}

#custom-arch-logo{
  padding-left: 0.6em;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: {{colors.on_primary.default.hex | lighten: 15.0}};
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: {{colors.primary.default.hex}};
}